{% args state, selected='Home' %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>{% include 'base_header.html' %}</head>
    <body>
        {% include 'nav_bar.html' %}
        {% include 'printingstate.html' %}
        
        <div id="controlstate"
            class="container-fluid" style="max-width: 1200px;"
            x-data="movement"
            x-show="!$store.machine.printing">
             
            <div class="row g-4 justify-content-center">
                
                <div class="col-12 col-lg-5">
                    <div class="card h-100 bg-dark border-secondary">
                        <div class="card-header border-secondary">
                            <i class="bi bi-arrows-move"></i> Motion Control
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center gap-3 mb-4">
                                <div style="width: 180px;">
                                    {% include 'XYmovement.html' %}
                                </div>
                                <div style="width: 60px;">
                                    {% include 'Zmovement.html' %}
                                </div>
                            </div>
                            
                            <hr class="border-secondary opacity-50">
                            {% include 'steps.html' %}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    {% include 'laserhead.html' %}
                </div>

                <div class="col-12 col-lg-3">
                    {% include 'general.html' %}
                </div>
                
            </div>
        </div>

        <script src="static/home.js"></script>
        {% include 'base_footer.html' %}
    </body>
</html>