{% args state, selected='Home' %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>{% include 'base_header.html' %}</head>
    <body>
        {% include 'nav_bar.html' %}
        {% include 'printingstate.html' %}
        <div id="controlstate"
             class="container justify-content-center"
             x-data="movement"
             {% if state['printing'] %}style="display: none"{% endif %}>
            <div class="row justify-content-center">
                <div class="col-3">{% include 'XYmovement.html' %}</div>
                <div class="col-1">{% include 'Zmovement.html' %}</div>
                <div class="col-2">{% include 'laserhead.html' %}</div>
                <div class="col-2">{% include 'general.html' %}</div>
            </div>
            <div class="row align-items-start">
                <div class="col-2"></div>
                <div class="col-4">{% include 'steps.html' %}</div>
            </div>
        </div>
        <!-- Script for interactivity -->
        <script src="static/home.js"></script>
        {% include 'base_footer.html' %}
    </body>
</html>
