{% args login_fail %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% include 'base_header.html' %}
    <link href="static/sign-in.css" rel="stylesheet">
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary min-vh-100">
    <main class="form-signin w-100 m-auto">
      <h3 class="h3 mb-3 fw-normal">Please sign in</h3>
      {% if login_fail %}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
           <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
        <div>Incorrect password</div>
      </div>
      {% endif %}
      <form method="post">
        <div class="form-floating">
          <input name="password"
                 type="password"
                 class="form-control"
                 id="floatingPassword"
                 placeholder="Password"
                 autocomplete="current-password"
                 required>
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-success w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">© Hexastorm 2025</p>
      </form>
    </main>
    {% include 'base_footer.html' %}
  </body>
</html>
