<!-- Navbar -->
<nav class="navbar bg-dark" data-bs-theme="dark" x-data="commands">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="static/hexastormlogo.webp"
                 alt="hexastorm"
                 style="height: 30px; width: auto;">
        </a>
        <!-- Icons -->
        <ul class="nav justify-content-end">
            <li class="nav-item me-3 me-lg-0">
                <a class="btn btn-dark" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
            <li class="nav-item me-3">
                <button class="btn btn-dark" @click="reboot()">
                    <i class="bi bi-bootstrap-reboot"></i> Reboot
                </button>
            </li>
        </ul>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar end -->
