<div id="zmovement"
     class="d-grid gap-1 col-12 mx-auto"
     @click="handleClick($event)">
    <p class="text-center mb-0">Z</p>
    <hr class="mt-0 mb-0" />
    <button class="btn btn-success" type="button" data-vector="[0,0,1]">
        <i class="bi bi-arrow-up"></i>
    </button>
    <button class="btn btn-success" type="button" data-vector="[0,0,-1000]">
        <i class="bi bi-house"></i>
    </button>
    <button class="btn btn-success" type="button" data-vector="[0,0,-1]">
        <i class="bi bi-arrow-down"></i>
    </button>
</div>
