<p class="text-center">Select file</p>
<hr />
<div class="list-group overflow-auto shadow" style="max-height: 300px;">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Filename</h5>
            <small>Upload date</small>
        </div>
        <p class="mb-1">Size</p>
    </a>
<a href="#" class="list-group-item list-group-item-action">
<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">List group item heading</h5>
  <small class="text-body-secondary">3 days ago</small>
</div>
<p class="mb-1">Some placeholder content in a paragraph.</p>
<small class="text-body-secondary">And some muted small print.</small>
</a>
<a href="#" class="list-group-item list-group-item-action">
<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">List group item heading</h5>
  <small class="text-body-secondary">3 days ago</small>
</div>
<p class="mb-1">Some placeholder content in a paragraph.</p>
<small class="text-body-secondary">And some muted small print.</small>
</a>
</div>
<br>
<p class="text-center">Action</p>
<hr />
<div class="d-grid gap-1 col-12 mx-auto">
    <button class="btn btn-primary" type="button">Print selected file</button>
    <button class="btn btn-primary" type="button">Delete selected file</button>
</div>
<br>
<p class="text-center">File upload</p>
<hr/>
<div class="mb-3">
    <label for="formFile" class="form-label"></label>
    <input class="form-control" type="file" id="formFile">
</div>
