<div class="d-grid gap-1 col-12 mx-auto">
    <p class="text-center">General</p>
    <hr style="margin-top:-10px"/>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#startprintjob">Start printjob</button>
</div>


<!-- Startprintjob modal -->
<div class="modal fade" id="startprintjob" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Printjob settings</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <button class="btn btn-primary" type="button">Upload file</button>
            <button class="btn btn-primary" type="button">Delete file</button>
        </div>
        <form>
            <div class="mb-3">
                <label for="passesperline" class="form-label">Exposures per line</label>
                <input id="passesperline" class="form-control" type="number" min="1" max="10"/>
            </div>
        <form>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Start</button>
        </div>
        </div>
    </div>
</div>