{% if authorized==True %}
<!-- Navbar -->
<nav class="navbar bg-primary" data-bs-theme="dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"></a>
        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="/logout"><i class="bi bi-box-arrow-right"></i>Logout</a>
            </li>
        </ul>
    </div>
    <!-- Container wrapper -->
</nav>
<br>
{% endif %}
